<div id="productHeader">
    <h1>Bem vindos lista de produtos</h1>

    <div>
        <p id="productItem"></p>
    </div>

    <div id="paginationControls">
        <button id="prevPage" onclick="prevPage()">Anterior</button>
        <span id="pageIndicator"></span>
        <button id="nextPage" onclick="nextPage()">Próxima</button>
    </div>

    <!-- Botão de logout -->
    <div id="logoutContainer">
        <button id="logoutButton" onclick="logout()">Logout</button>
    </div>
</div>

<script src="/js/products.js"></script>