<div id="productHeader">
    <h1>Bem vindos lista de produtos</h1>

    <div>
        <p id="productItem"></p>
    </div>

    <div id="paginationControls">
        <button id="prevPage" onclick="prevPage()">Anterior</button>
        <span id="pageIndicator"></span>
        <button id="nextPage" onclick="nextPage(1)">Próxima</button>
    </div>
</div>


<script src="/js/products.js"></script>