<div id="productHeader">
    <h1 id="titulo">Bem vindos lista de usuários</h1>

    <button id="usuarioButton" onclick="irListaProdutos()">Voltar para Lista de Produtos</button>

    <div>
        <p id="productItem"></p>
    </div>

    <div id="paginationControls">
        <button id="prevPage" onclick="prevPage()">Anterior</button>
        <span id="pageIndicator"></span>
        <button id="nextPage" onclick="nextPage()">Próxima</button>
    </div>
</div>

<script src="/js/users.js"></script>